<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1616530940355-351fabd9524b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80)">
Create a new list
</div>

<%= simple_form_for(@list) do |f| %>
  <%= f.input :name %>
  <%= f.input :picture %>
  <%= f.submit %>
<% end %>
